body {
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background: rgb(196, 196, 196);
    height: 50px;
}

.theme {
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 10px;
    margin-left: 975px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center
}

.my-card {
    display: flex;
    flex-direction: column;
    background-color: #FFCC80;
    border: 1px solid #FFA726;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    align-items: center;
}

.my-card {
    max-width: 1000;
}

.text-my-card {
    display: block;
    text-align: center;
}

.description-card {
    text-align: center;
    background-color: white;
    border: lightgray;
    border-radius: 10px;
}

.my-card-img {
    width: 250px;
    height: 100px;
    margin-bottom: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
    flex: 1;
}



#cartBtn {
    background-color: rgb(196, 196, 196);
    margin: 0px;
}

@media (max-width: 768px) {
    .product-card {
        max-width: 100%;
    }
    .products {
        flex-direction: column;
        align-items: center;
    }
}
